* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", serif;


}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* CSS box shadow */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;

}

.navbar-links a {
    text-decoration: none;
    color: rgb(20, 20, 77);
}

.navbar-links a:hover {
    text-decoration: underline;
    color: rgb(20, 20, 77);

}

.navbar-menu-toggle {
    display: none;
}

/*side navbar*/
.side-navbar {
    background-color: rgb(20, 20, 77);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;

}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}

/*header*/

.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    gap: 50px;
    padding-top: 60px;
}

.header h1 {
    font-style: italic;
    font-family: "Poppins", serif;
    padding-right: 160px;

}

.header-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: white;
    background-color: black;
}

/*service*/

.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.service-container-2 div {
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}

/*news*/

.new-arrival {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;

}

.new-arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: rgb(20, 20, 77);
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;

}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.news p {
    padding: 10px;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button {
    margin-top: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

/*footer*/

.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: black;
    color: white;
}

.footer-box-1 {
    padding: 10px;
}

/*product*/
.product-section {
    margin-top: 20px;

}

.product-search {
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus {
    outline: none;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box {
    text-align: center;
    flex-basis: 20%;
}

.products-box img {
    border-radius: 10px;
}

/* contact */

.contact-form {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    background-color: rgb(18, 18, 43);
    border-radius: 20px;
}

.contact-details {
    padding: 50px;
    color: white;

}

.contact-details p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-details input {
    width: 50vw;
    height: 30px;
    padding: 10px;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
    font-size: 17px;

}

.contact-details textarea {
    width: 50vw;
    padding: 10px;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
    font-size: 17px;

}

.contact-details .message {
    height: 100px;
}

.contact-details button {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(0, 110, 255);
    color: white;
    border: none;
    border-radius: 5px;
}





/* Media Quary */

@media screen and (max-width:700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header img {
        display: none;
    }

    .header h1 {
        padding: 30px;
    }

    .header button {
        margin: 30px;

    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }

    .contact-form {
        margin-left: 10%;
        margin-right: 10%;
    }


}